<NavBar @toggle={{this.toggleColor}} @isToggled={{this.isToggled}} />
<div class="banner {{if this.isToggled "purple-background"}}">
  <div class="name-role-description">
    <div class="name-role">
      <h2>Agathe Badia</h2>
      <h1 class="title">Junior Developer</h1>
    </div>
    <div class="description-card">
      <p>I am a Junior Developer with a background in tech recruiting. After three years in the HR field and talking with many passionate developers, I decided to become one!</p>
      <span class="social-media">
        <p>Follow me :)</p>
        <div class="social-links">
          <a aria-label="Visit my Linkedin profile" href="https://www.linkedin.com/in/agathe-badia/" rel="noreferrer noopener"  target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a aria-label="Visit my Github profile" href="https://github.com/Agathebadia" rel="noreferrer noopener"  target="_blank"><i class="fab fa-github"></i></a>
          <a aria-label="Follow me on Twitter" href="https://twitter.com/Agathe_BADIA" rel="noreferrer noopener"  target="_blank"><i class="fab fa-twitter"></i></a>
          <a aria-label="Follow me on Instagram" href="https://www.instagram.com/agathe.badia/" rel="noreferrer noopener"  target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </span>
    </div>
  </div>
  <div class="circle-picture">
    {{#if this.isToggled}}
    <img src="assets/images/purple-profile.png" width="300" alt="Portrait of Agathe Badia">
    {{else}}
    <img src="assets/images/profile-picture2.png" width="300" alt="Portrait of Agathe Badia">
    {{/if}}
  </div>
</div>

<div class="projects {{if this.isToggled "purple-background"}}">

    <h1>Projects</h1>

  <div class="articles">
      <article class="{{if this.isToggled "purple-shadow"}}">
        <a aria-label="Colorblindness Emulator. Will open in a new window" href="https://colorblindness-emulator.netlify.app/" rel="noreferrer noopener" target="_blank">
        <img src="assets/images/color-preview.png" alt="Preview of the emulator">
        <p>Colorblindness Emulator, Ember App</p>
        </a>
      </article>

      <article class="{{if this.isToggled "purple-shadow"}}">
          <a aria-label="Visit Dev Stories Project" href="https://becoming-a-developer.netlify.app/" rel="noreferrer noopener"  target="_blank">
            <img src="assets/images/becoming-a-dev.png" height='230' alt="Preview of the landing page">
            <p>Dev Stories, Ember App</p>
          </a>
      </article>

      <article class="{{if this.isToggled " purple-shadow"}}">
        <a aria-label="Visit Dev Knight Adventure Project" href="https://dev-knight-adventure.netlify.app/" rel="noreferrer noopener"  target="_blank">
          <img src="assets/images/dev-knight-adv.png" height='230' alt="Preview of the app">
          <p>Text-RPG, Javascript</p>
        </a>
      </article>

      <article class="{{if this.isToggled "purple-shadow"}}">
          <a aria-label="Visit Github repository of Interview tracker project" href="https://github.com/Agathebadia/interview_tracker" rel="noreferrer noopener"  target="_blank">
            <img src="assets/images/oja.png" height='230' alt="Preview of the app">
            <p>Bootcamp final app, two weeks project</p>
          </a>
      </article>

      <article class="{{if this.isToggled "purple-shadow"}}">
          <a aria-label="Visit Tooli Project" href="https://tooli-capmarvel.herokuapp.com/" rel="noreferrer noopener"  target="_blank">
            <img src="assets/images/tooli.png" height='230' alt="Preview of the app">
            <p>One week project</p>
          </a>
      </article>
  </div>
</div>

<div class="projects {{if this.isToggled "purple-background"}}">

  <h1>Content</h1>

  <div class="articles">

    <article class="{{if this.isToggled " purple-shadow"}}">
      <a aria-label="Visit Agathe's Diary Podcast" href="https://www.buzzsprout.com/1248158" rel="noreferrer noopener"  target="_blank">
        <img id="photo-cover-fit" src="assets/images/Agathe-s-Diary.jpg" height='230' alt="Rubber duck with the title of the podcast, Agathe's Diary">
        <p>Agathe's Diary - Podcast & Tech Stories</p>
      </a>
    </article>

    <article class="{{if this.isToggled " purple-shadow"}}">
      <a aria-label="Visit Untold Developer Stories Podcast" href="https://www.buzzsprout.com/979024" rel="noreferrer noopener"
        target="_blank">
        <img id="photo-cover-fit" src="assets/images/untold-stories.jpg" height='230'
          alt="glitchy background with a title with a black round centered design 'Untold developer stories">
        <p>Untold Developer Stories - Audio podcast</p>
      </a>
    </article>

    <article class="{{if this.isToggled " purple-shadow"}}">
      <a aria-label="Visit Untold Developer Stories, Youtube podcast" href="https://www.youtube.com/playlist?list=PLtEPUaeDclkvfFlePNrYqYUrtDhEB6g-I"
        rel="noreferrer noopener" target="_blank">
        <img id="photo-cover-fit" src="assets/images/youtube.png" height='230'
          alt="glitchy background with a title with a black round centered design 'Untold developer stories">
        <p>Untold Developer Stories - Youtube Podcast</p>
      </a>
    </article>

    <article class="{{if this.isToggled "purple-shadow"}}">
      <a aria-label="Check out Agathe's contributions on Honeypot's community platform" href="https://cult.honeypot.io/contributors/agathe-badia" rel="noreferrer noopener"  target="_blank">
        <img src="assets/images/coding-bootcamp.jpg" height='230' alt="Agathe and another student, chatting and looking at a laptop">
        <p>Contributor on cult, Honeypot's Community Platform</p>
      </a>
    </article>
    <article class="{{if this.isToggled "purple-shadow"}}">
      <a aria-label="Visit Agathe's Accessible Blog" href="https://inclusive-blog-post.netlify.app/" rel="noreferrer noopener"  target="_blank">
        <img src="assets/images/journey-to-dev.jpg" height='230' alt="Agathe sitting at a desk, on her computer">
        <p>Accessible & Inclusive Blog</p>
      </a>
    </article>
  </div>
</div>

<div class="projects {{if this.isToggled "purple-background"}}">

  <h1>Media</h1>

  <div class="articles">

    <article class="{{if this.isToggled " purple-shadow"}}">
      <a aria-label="Check out the podcast on Youtube" href="https://www.youtube.com/watch?v=Sjd60oa5Dt8" target="_blank"
        rel="noreferrer noopener">
        <img src="assets/images/codestory.png" height='220'
          alt="The codestories podcast number 20, in light purple on a black background">
        <p class="padding-top">My Journey to Tech on CodeStory, with Nathaniel Idahosa</p>
      </a>
    </article>

    <article class="{{if this.isToggled " purple-shadow"}}">
      <a aria-label="Check out Ember Times issue of June 2020 with Agathe's project featured"
        href="https://blog.emberjs.com/the-ember-times-issue-153/" target="_blank" rel="noreferrer noopener">
        <img id="photo-cover-fit" src="assets/images/ember-times.png" height='220' alt="Ember Times">
        <p class="padding-top">Becoming A Dev featured in June 2020 Ember Times</p>
      </a>
    </article>

    <article class="{{if this.isToggled " purple-shadow"}}">
      <a aria-label="Check out the 30 stories of junior devs" href="https://makemoney.dev/blog/first-dev-job-stories"
        target="_blank" rel="noreferrer noopener">
        <img src="assets/images/first-dev-job-stories.png" height='220'
          alt="A cartoonish piggy with glasses and holding a keyboard, with the title of the article in the background">
        <p class="padding-top">My First Developer Job</p>
      </a>
    </article>

    <article class="{{if this.isToggled "purple-shadow"}}">
      <a aria-label="Check out Agathe's career switch on the German newspaper called Zukunft Personal" href="https://www.zukunft-personal.com/media/filer_public/e7/32/e7323aed-4864-415c-b68d-beb4a5de39b8/zukunft-personal_media-lounge_pw_hh_09-2020.pdf#Karrierewechsel"
        rel="noreferrer noopener"  target="_blank">
        <img src="assets/images/remote.jpg" height='230' alt="Laptop">
        <p>Career Switch 'mit Vollgas!'
          <img class="flag-icon" src="assets/images/germany.png" height='24' alt="German flag">
        </p>
      </a>
    </article>

    <article class="{{if this.isToggled "purple-shadow"}}">
      <a aria-label="Check out Agathe's career switch on the German newspaper called Sud Deutsche Zeitung" href="https://www.sueddeutsche.de/karriere/arbeit-wie-werde-ich-softwareentwickler-in-dpa.urn-newsml-dpa-com-20090101-201023-99-52640"
        rel="noreferrer noopener"  target="_blank">
        <img src="assets/images/profile-picture.jpg" height='220' alt="Agathe posing with a smile at the Le Wagon bootcamp office">
      <p class="padding-top">Interview with DPA - Wie werde ich Softwareentwickler/in? - <em>Süddeutsche Zeitung</em> <img class="flag-icon" src="assets/images/germany.png" height='24' alt="German flag"></p>
      </a>
    </article>

    <article class="{{if this.isToggled " purple-shadow"}}">
      <a aria-label="Check out Agathe's article on Tech knowledge for Recruiters on the German news platform called Talente" href="https://talente.co/recruiting/7854/it-fachkraefte-gewinnen/"
        rel="noreferrer noopener"  target="_blank">
        <img src="assets/images/talente-article.png" height='220' alt="A group of men and woman are looking at a computer screen together">
        <p class="padding-top">IT-Fachkräfte gewinnen: Warum Recruiter Tech-Wissen brauchen <img
            class="flag-icon" src="assets/images/germany.png" height='24' alt="German flag"></p>
      </a>
    </article>
  </div>
</div>

<Footer @toggle={{this.toggleColor}} @isToggled={{this.isToggled}}>
</Footer>
