<NavBar @toggle={{this.toggleColor}} @isToggled={{this.isToggled}} />
<div class="banner {{if this.isToggled "purple-background"}}">
  <div class="name-role-description">
    <div class="name-role">
      <h2>Agathe Badia</h2>
      <h1 class="title">Junior Developer</h1>
    </div>
    <div class="description-card">
      <p>I am a Junior Developer with a background in tech recruiting. After three years in the HR field and talking with many passionate developers, I decided to become one!</p>
      <span class="social-media">
        <p>Follow me :)</p>
        <div class="social-links">
          <SocialMedia
            @social={{@model.social}} />
        </div>
      </span>
    </div>
  </div>
  <div class="circle-picture">
    {{#if this.isToggled}}
    <img src="assets/images/purple-profile.png" width="300" alt="Portrait of Agathe Badia">
    {{else}}
    <img src="assets/images/profile-picture2.png" width="300" alt="Portrait of Agathe Badia">
    {{/if}}
  </div>
</div>

<div class="projects {{if this.isToggled "purple-background"}}">

    <h1>Projects</h1>

  <div class="articles">
      <Article
        @isToggled={{this.isToggled}}
        @project={{@model.project}} />
  </div>
</div>

<div class="projects {{if this.isToggled "purple-background"}}">

  <h1>Content</h1>

  <div class="articles">
    <Content
      @isToggled={{this.isToggled}}
      @content={{@model.content}} />
  </div>
</div>

<div class="projects {{if this.isToggled "purple-background"}}">

  <h1>Media</h1>

  <div class="articles">
    <Media
      @isToggled={{this.isToggled}}
      @media={{@model.media}} />
  </div>
</div>

<Footer @toggle={{this.toggleColor}} @isToggled={{this.isToggled}}>
</Footer>
